.ycolor{
     background-color: #FFDC40;
     height: 28px;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
    }
    .div{
     width: 336px;
     border: 1px solid #C4C4C4;
     margin: 150px auto;
     border-radius: 10px;
     font-family: sans-serif;
    }
    .h2{
     font-size: 26px;
     text-align: center;
    }
    .a321{
        text-align: center;
    }
    .a3{
     width: 286px;
     height: 40px;
     border-radius: 10px;
     border: 1px solid #C4C4C4;
    }
    .a3-btn{
        width: 24px;
        height: 24px;
        background: none;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('./Group\ 77.png');
    }
    .a3-btn:hover{
        background-image: url('./Group\ 70.png');
    }
    .b3{
     margin: 20px auto;
     width: 130px;
     height: 42px;
     font-size: 14px;
     position: relative;
    }
    .button123 {
        text-align: right;
    }
    .b1{
    margin-right: 20px;
     background: none;
     background-image: url('./Group\ 74.png'); 
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     border: none;
     width: 30px;
     height: 30px;
    } 
    .b1:hover{
        background-image: url('./Group\ 73.png');
    }
    .b1-2{
        width: 30px;
        height: 30px;
        margin-right: 20px;
        border: none;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('./Group\ 90.png');
    }
    .b1-2:hover {
        background-image: url('./Group\ 91.png');
    }
    .b12{
        width: 129px;
        height: 42px;
        background-color: #9953F1;
        border-radius: 71px;
        border: none;
        padding-left: 26px;
        color: white;
    }
   .span{
    width: 42px;
    height: 42px;
    background-color: darkviolet;
    border-radius: 71px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .b333{
    position: relative;
    margin: 8px auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    list-style-type: none ;
    padding: 4px;
    height: 24px;
    width: 280px;
   }
   .a3-btn{
    position: absolute;
    right: 20px;
    top: 4px;
    
   }
   .ul12{
    padding: 0;
   }
